html, body {
	height: 100%;
	width: 100%;
	padding: 3%;
}

body {
	background-image: url('https://user-images.githubusercontent.com/31543169/111704559-565fbf80-880d-11eb-99d1-118a40bfd014.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}